#blog {
    padding-top: 10rem;
    position: relative;

    @include tablet {
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 4rem;
        line-height: 1;
        font-style: italic;
        margin-bottom: 1.5rem;
    }
    p{
        font-size: 2.4rem;
        line-height: 1;
        font-style: italic;
        margin-bottom: 5rem;
        text-align: center;
    }

    .vector1 {
        height: 23px;
        width: 121px;
        border-radius: 50px;
        background-color:  #FBDE4A;
        position: absolute;
        top: 100px;
        right: 100px;

        @include tablet {
            right: 10px;
            left: 0px;
        }

        @include telefono {
            right: 20px;
            top: 180px;
        }
    }
    .vector2 {
        height: 10px;
        width: 30px;
        border-radius: 50px;
        background-color:  #294898;
        position: absolute;
        top: 129px;
        right: 100px;

        @include tablet {
            left: 80%;
        }

        @include telefono {
            right: 10%;
            top: 150px;
        }
    }
    .vector3 {
        height: 10px;
        width: 50px;
        border-radius: 50px;
        background-color:  #EE4498;
        position: absolute;
        top: 135px;
        right: 200px;

        @include tablet {
            left: 90%;
        }

        @include telefono {
            right: 20%;
            top: 180px;
        }
    }

    .contenedor-blog{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;

        img {
            width: 80%;

            @include tablet{
                width: 90%;
            }

            @include telefono{
                width: 100%;
            }
        }

        .info-blog {
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: 290px;

            .titulo {
                font-size: 3rem;
                color: white;
                font-style: italic;
                font-weight: bold;
            }
        }
    }
}