#servicios {
    margin-top: 50rem;
    padding-top: 10rem;

    @include tablet {
        margin-top: 20rem;
    }

    @include telefono {
        margin-top: 30rem;
    }

    .titulo-general {
        text-align: center;
        font-size: 5rem;
        color: #1F1F44;
        margin-bottom: 2rem;

        @include telefono {
            font-size: 4rem;
        }
    }

    .contenedor-servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
        }

        .row {
            margin: 0 auto;
            position: relative;

            .card-servicio {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5rem;
                align-items: center;
                gap: 3rem;
                
                .info {
                    width: 306px;
                    cursor: pointer;
                    h3{
                        font-size: 2.2rem;
                        text-align: center;
                        font-weight: 900;
                        margin-bottom: 1rem;

                        @include telefono {
                            font-size: 2.3rem;
                        }
                    }
                    p{
                        font-style: italic;
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }

                img {
                    width: 73px;
                    height: 73px;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .img-celular {
                
                @include tablet {
                    display: none;
                }
            }

            .img-celular-variable {
                position: absolute;
                background-image: url("/src/img/Screen.png");
                top: 55px;
                height: 75%;
                width: 80%;
                background-color: blue;
                left: 25px;
                background-position: center;
                background-size: cover;



                @include tablet{
                    display: none;
                }
            }
        }
    }
}