#servicios {
    margin-top: 50rem;
    padding-top: 10rem;
    
    @media (max-width: 1366px ) {
        margin-top: 40rem;
    }

    // @media (max-width: 1280px) and (max-height: 1024px){
    //     margin-top: 40rem;
    // }

    @include tablet {
        margin-top: 10rem;
    }

    // @media (max-width: 540px) {
    //     margin-top: 30rem;
    // }

    @include telefono {
        margin-top: 0rem;
    }

    .titulo-general {
        text-align: center;
        font-size: 4rem;
        color: #1F1F44;
        margin-bottom: 2rem;

        @include telefono {
            font-size: 3.5rem;
        }
    }

    .contenedor-servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;

        @include tablet {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
            justify-content: flex-start;
        }

        .row {
            margin: 0 auto;
            position: relative;

            @include telefono {
                margin: inherit;
            }

            .card-servicio {
                display: flex;
                margin-bottom: 5rem;
                align-items: center;

                @include tablet {
                    gap: 0;
                    margin-bottom: 0;
                    justify-content: flex-start;
                }
                
                .info {
                    width: 306px;
                    cursor: pointer;
                    position: relative;
                    text-align: center;

                    @include telefono {
                        width: 70%;
                    }

                    div{
                        font-size: 2.2rem;
                        text-align: center;
                        font-weight: 900;
                        margin-bottom: 1rem;
                        color: #2b2b4e;
                        position: relative;
                        width: auto;
                        display: inline;

                        @include telefono {
                            font-size: 2rem;
                        }

                        @media (max-width : 375px) {
                            font-size: 1.7rem;  
                        }
                        .barra {
                            left: 0;
                            position: absolute;
                            height: 10px;
                            width: 100%;
                            top: 15px;
                            z-index: -1;
                        }
                    }


                    p{
                        font-style: italic;
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }

                .icono-servicio {
                    
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    object-position: center;
                    background-repeat: no-repeat;
                    transition: all 0.8s ease-in-out;
                    background-size: cover;

                    @include telefono {
                        width: 30%;
                    } 
                }

                .icono-conColor {
                    display: none;
                }
            }

            .img-celular {
                
                @include tablet {
                    display: none;
                }
            }

            .img-celular-variable {
                position: absolute;
                background-image: url("/src/img/pantalla-principal-servicio.png");
                top: 10%;
                height: 75%;
                width: 80%;
                background-color: transparent;
                left: 8%;
                background-position: center;
                background-size: cover;

                @include tablet{
                    display: none;
                }
            }
        }
    }
}